.container {    
	width: 840px;
	margin: 0 auto;
	padding: 30px;
}

fieldset {
	margin-bottom: 20px;
}

.form_1 label {
	margin-top: 15px;
}

label {
	display: block;
}

.bold {
	font-weight: 600;
}

.inline {
	display: inline;
}

#age {
	width: 50px;
}

.form_1 input {
	margin-left: 7px;
	margin-right: 6px;
}

.about {
	width: 260px;
}

.finish {
	width: 260px;
	margin-bottom: 15px;
}

.form_3 p {
	font-style: italic;
}

.email {
	width: 260px;
}