.container {    
	width: 848px;
	margin: 0 auto;
	padding: 30px;
}

fieldset {
	margin-bottom: 20px;
}  
.form_1 label {
	margin-top: 14px;
}

label {
	display: block;
}

.bold {
	font-weight: 600;
}

.inline {
	display: inline;
}

#age {
	width: 40px;
}

.about_me {
	margin-left: 7px;
	margin-right: 6px;
}

.finish {
	width: 212px;
	margin-bottom: 16px;
}
.form_3 p {
	font-style: italic;
}